.main-content {
    height: 10vh;
    border-radius: .5rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 0 2rem;
}

.btn {
    border: 1px solid;
    border-color: #2563eb;
    padding: 1.1rem 1.6rem;
    border-radius: 0.7rem;
    color: #2563eb;
    height: 5vh;
    cursor: pointer;
  }