* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 64.5%;
  }
  
  .main-view {
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }
  
  .main-content {
      flex: 1;
      min-height: 90vh;
      margin-left: 280px;
      background-color: #E5E7EB;
  }